@page "/ordertypes/create"
@inject NavigationManager navigationManager
@inject IRepository repository
@inject SweetAlertService sweetAlertService

<h3>Nuevo tipo de solicitud</h3>

<OrderTypeForm @ref="orderTypeForm" OrderType="orderType" OnValidSubmit="CreateAsync" ReturnAction="Return" />


@code {
    private OrderType orderType = new();
    private OrderTypeForm? orderTypeForm;

    private async Task CreateAsync()
    {
        var response = await repository.PostAsync("/api/OrderType", orderType);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito.");

    }

    private void Return()
    {
        orderTypeForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/ordertypes");
    }

}
