@page "/ordertypes/OrderTypeEdit/{Id:int}"
@attribute [Authorize(Roles = "Admin")]
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Editar tipo de solicitud</h3>

@if (orderType is null)
{
    <Loading />
}
else
{
    <OrderTypeForm @ref="orderTypeForm" OrderType="orderType" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}

@code {
    private OrderTypeForm? orderTypeForm;
    private OrderType? orderType;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        var response = await repository.GetAsync<OrderType>($"/api/OrderType/{Id}");
        if (response.Error)
        {
            if (response.HttpResponseMessage.StatusCode == HttpStatusCode.NotFound)
            {
                Return();
            }
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        orderType = response.Response;
    }

    private async Task SaveAsync()
    {
        var response = await repository.PutAsync($"/api/OrderType", orderType);
        if (response.Error)
        {
            var message = await response.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }
        Return();
        var toast = sweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 3000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Cambios guardados con éxito.");
    }

    private void Return()
    {
        orderTypeForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/ordertypes");
    }
}
