@page "/pets/PetEdit/{Id:int}"

<h3>Editar Mascota</h3>

@if (loading)
{
    <Loading />
}
else
{
    <PetForm @ref="petForm" PetDTO="petDTO"  OnValidSubmit="SaveChangesAsync" ReturnAction="Return" IsEdit=true AddImageAction="AddImageAsync" RemoveImageAction="RemoveImageAsyc" />
}
